In [1]:
thisdict = {"brand":"Ford", "model":"Mustang", "year":1964}
print (thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [7]:
x = thisdict["model"]
print (x)

Mustang

In [9]:
x = thisdict.get("year")
print (x)

1964

In [11]:
thisdict["year"] = 2018
print (thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [15]:
print ("Values:")
for x in thisdict.values():
    print (x)

Values:
Ford
Mustang
2018

In [17]:
print ("Keys and Values:")
for x,y in thisdict.items():
    print (x,y)

Keys and Values:
brand Ford
model Mustang
year 2018

In [32]:
my_dict = {'a':10,'b':20,'c':30}
for i, value in enumerate (my_dict.values(), start=1):
    print (f"{i}.{value}")

1.10
2.20
3.30

In [39]:
d = {"name":"ram","age":12,"place":"calicut"}
print (d)

{'name': 'ram', 'age': 12, 'place': 'calicut'}

In [119]:
# For same key, the first key will be removed then result will be printed

dict = {"stud_name":"Tom", "stud_age":14, "stud_place":"Calicut"}
print (dict)

{'stud_name': 'Tom', 'stud_age': 14, 'stud_place': 'Calicut'}

In [2]:
dict1 = {"stud_name":"Tom", "stud_name":14, "stud_place":"Calicut"}
print (dict1)

{'stud_name': 14, 'stud_place': 'Calicut'}

In [51]:
dict2 = {"stud_name":14, "stud_age":14, "stud_place":"Calicut"}
print (dict2)

{'stud_name': 14, 'stud_age': 14, 'stud_place': 'Calicut'}

In [54]:
dict3 = {1:"xyz", 2:15, 3:"abc"} 
print (dict3)

{1: 'xyz', 2: 15, 3: 'abc'}

In [57]:
dict["stud_place"]

'Calicut'

In [90]:
# Update a value in dictionary

dict["stud_age"] = 16
print(dict)

{'stud_name': 'Tom', 'stud_age': 16, 'stud_place': 'Calicut'}

In [92]:
# To add a key and value in dictionary

dict["stud_course"]= "DS"
print (dict)

{'stud_name': 'Tom', 'stud_age': 16, 'stud_place': 'Calicut', 'stud_course': 'DS'}

In [98]:
# Remove/Pop

dict.pop("stud_age")
dict

{'stud_name': 'Tom', 'stud_place': 'Calicut'}

In [100]:
# Popitem

dict.popitem()
dict

{'stud_name': 'Tom'}

In [121]:
# Delete

del dict["stud_place"]
dict

{'stud_name': 'Tom', 'stud_age': 14}

In [131]:
# Clear

dict={"stud_name":"Tom","stud_age":14,"stud_place":"Calicut"}
print(dict)

dict.clear()
print(dict)

{'stud_name': 'Tom', 'stud_age': 14, 'stud_place': 'Calicut'}
{}

In [133]:
# Delete entire dictionary

del dict

In [136]:
# Return a new dictionary with keys from seq and value equal to v (defaults to None).
# dict.fromkeys(seq,[v])

dict.fromkeys(["name","age","place"])

{'name': None, 'age': None, 'place': None}

In [139]:
dict.fromkeys(["name","age"],1)

{'name': 1, 'age': 1}

In [142]:
# To get unique from list

l=[1,2,3,4,5,5]
print (dict.fromkeys(l))
print (list(dict.fromkeys(l)))

{1: None, 2: None, 3: None, 4: None, 5: None}
[1, 2, 3, 4, 5]

In [145]:
# If key is in the dictionary, return its value. If not, insert key with a value of d and return d (defaults to None).

dict = {}
print (dict.setdefault("name","ram"))
print (dict)

ram
{'name': 'ram'}

In [148]:
my_dict = {}
# Use setdefault to ensure 'name' has a default value of 'Unknown'
name_value = my_dict.setdefault('name', 'Unknown')

# Print the dictionary and the returned value
print(my_dict)  # Output: {'name': 'Unknown'}
print(name_value)  # Output: 'Unknown'

{'name': 'Unknown'}
Unknown

In [151]:
# Update the dictionary with the key/value pairs from other, overwriting existing keys.

d1 = {"a":1,"b":2}
d2 = {"c":3,"d":4}
d1.update(d2)
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [182]:
d1.get("a")

1

In [157]:
d1.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [160]:
d1.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [163]:
d1.values()

dict_values([1, 2, 3, 4])

In [184]:
dict = {"apple":2, "banana":5, "cherry":8}
dict

{'apple': 2, 'banana': 5, 'cherry': 8}

In [192]:
d = {'A':100,'B':250,'C':300}
print(sum(d.values()))

650

In [198]:
d = {'A':100,'B':250,'C':300}
b = 1
for i in d: 
    b = b*d[i]
b

7500000

In [202]:
dict = {"apple":2, "banana":5, "cherry":8}
dict.pop("banana")
dict

{'apple': 2, 'cherry': 8}

In [3]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
dictionary = dict(zip(keys, values))
dictionary

{'a': 1, 'b': 2, 'c': 3}

In [37]:
patientDict = {"clinic":{"patient":{"name":"Arun","address":{"place1":"Delhi","place2":"Bombay"}}}}
patientDict.get("clinic").get("patient").get("address").get("place1")

'Delhi'

In [39]:
mydict = {'a': 10, 'b': 20, 'c': 30}
check = 20
if check in mydict.values():
    print ("Yes")
else:
    print ("No")

Yes

In [52]:
employeeDict = {'emp1':{'name':'John','salary':10000},'emp2':{'name':'Jacob','salary':30000},'emp3':{'name':'James','salary':50000}}
employeeDict['emp2']['name'] = 'Jack'
employeeDict

{'emp1': {'name': 'John', 'salary': 10000},
 'emp2': {'name': 'Jack', 'salary': 30000},
 'emp3': {'name': 'James', 'salary': 50000}}

In [54]:
keys = ['a', 'b', 'c']
x = 2
my_dict = {}

for key in keys:
    my_dict[key] = x
print(my_dict)

{'a': 2, 'b': 2, 'c': 2}

In [58]:
test_dict = {'nikhil': 1, "akash": 2, 'akshat': 3, 'manjeet': 4}
x = {key: test_dict[key] for key in test_dict.keys()
	& {'akshat', 'nikhil'}}
print(x)

{'nikhil': 1, 'akshat': 3}

In [2]:
dict = {
    "A": 4.0,
    "B": 3.0,
    "C": 2.0,
    "D": 1.0,
    "F": 0.0
}
grade = input("Enter your grade from A to F:")
if grade in dict:
    print(f"The GPA for grade {grade} is: {dict[grade]}")
else:
    print("Invalid grade")

Enter your grade from A to F: B

The GPA for grade B is: 3.0