In [1]:
t = ("mom", "dad", "son", "malayalam")
l = []
for i in t:
    if i==i[::-1]:
        l.append(i)
print(l)

['mom', 'dad', 'malayalam']

In [3]:
[i for i in t if i==i[::-1]]

['mom', 'dad', 'malayalam']

In [5]:
squares = []
for x in range(10):
    squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
evens = []
for x in range(10):
    if x % 2 == 0:
        evens.append(x)
print(evens)

[0, 2, 4, 6, 8]

In [13]:
evens = [x for x in range(10) if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8]

In [19]:
numbers = [1, 2, 3, 4]
doubled = [x * 2 for x in numbers]
print(doubled)

[2, 4, 6, 8]

In [21]:
n = [2,4,6,8]
half = [i/2 for i in n]
print (half)

[1.0, 2.0, 3.0, 4.0]

In [23]:
n = [2,4,6,8]
[i/2 for i in n]

[1.0, 2.0, 3.0, 4.0]