In [3]:
# For Loop

n = int(input("Enter the number"))
for i in range(1,n,2):
    print(i)

Enter the number 11

1
3
5
7
9

In [6]:
l = ["apple","banana","cherry","fig"]
for i in l:
    print(i)

apple
banana
cherry
fig

In [8]:
l = [10,20,30,40,50]
print("The elements in list:")
for i in l:
    print(i)

The elements in list:
10
20
30
40
50

In [10]:
t = (20,40,60,80)
print("The elements in tuple:")
for i in t:
    print(i)

The elements in tuple:
20
40
60
80

In [12]:
s = {'abc','def','ghi'}
print("The elements in set:")
for i in s:
    print(i)

The elements in set:
abc
def
ghi

In [14]:
str = "Hello"
print("The characters in string:")
for i in str:
    print(i)

The characters in string:
H
e
l
l
o

In [16]:
dict = {1:'Ten',2:'Twenty',3:'Thirty',4:'Forty'}
for i in dict:
    print(i)

1
2
3
4

In [18]:
dict = {1:'Ten',2:'Twenty',3:'Thirty',4:'Forty'}
print("The elements in dictionary:")
for i in dict:
    print(i,":",dict[i])

The elements in dictionary:
1 : Ten
2 : Twenty
3 : Thirty
4 : Forty

In [34]:
for i in range(5):      # default 0
    print(i)

0
1
2
3
4

In [32]:
for i in range(1,6):    # start=1 end=6(6-1)
    print(i)

1
2
3
4
5

In [28]:
for i in range(2,10,2):     # start=1 end=10 difference=2
    print(i)

2
4
6
8

In [42]:
# multiplication table

n = int(input("Enter the number : "))
for i in range(1,11):
    print(i,"*",n,"=",i*n)

Enter the number :  7

1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70

In [38]:
num_list = [1,3,5,6,99,134,55]
l = []
for i in num_list:
    if i%2!=0:
        l.append(i)
        print(i)
print(l)

1
3
5
99
55
[1, 3, 5, 99, 55]

In [40]:
num_list = [1,3,5,6,99,134,55]
for i in num_list:
    if i%2 == 0:
        print(i,"is an even number.")
    else:
        print(i,"is an odd number.")

1 is an odd number.
3 is an odd number.
5 is an odd number.
6 is an even number.
99 is an odd number.
134 is an even number.
55 is an odd number.

In [19]:
# Count of number

try:
    num = int(input("Enter a number: "))
    num_str = str(num)
    count = len(num_str)
    print(count)
except ValueError:
    print("Invalid input! Please enter a valid integer.")

Enter a number:  56746

5

In [5]:
# While Loop

i = 1
while(i<10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

In [3]:
c = 0
while(c<3):
    print("While loop")
    c += 1      #c value updated c=c+1

While loop
While loop
While loop

In [1]:
# While True:
    # This loop will run forever
    # print("This is an infinite loop")

In [1]:
i = 0
while i < 5:
    print("This loop will terminate after 5 iterations")
    i += 1

This loop will terminate after 5 iterations
This loop will terminate after 5 iterations
This loop will terminate after 5 iterations
This loop will terminate after 5 iterations
This loop will terminate after 5 iterations

In [3]:
#i = 0
#while i < 5:
    # i is never incremented, so this loop will run forever
    #print("This is an infinite loop")

In [9]:
# While loop with else

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [23]:
num_list = [1,3,5,6,99,134,55]
for i in num_list:
    if i%2!=0:
        print(i)

1
3
5
99
55

In [15]:
n = int(input("Enter the number"))
for i in range(n):
    print("*"*(i+1))

Enter the number 7

*
**
***
****
*****
******
*******

In [17]:
for i in range(n,0,-1):
    print("*"*i)

*******
******
*****
****
***
**
*

In [9]:
n = int(input("Enter the number"))
for i in range(n):
    print("*"*(i+1))
for i in range(n,0,-1):
    print("*"*i)

Enter the number 5

*
**
***
****
*****
*****
****
***
**
*

In [23]:
for i in range(n):
    print("*"*(n-i))

*****
****
***
**
*

In [25]:
for i in range(n):
    print(" "*(n-i)+"*"*(i+1))

     *
    **
   ***
  ****
 *****

In [27]:
for i in range(n,-1,-1):
    print(" "*(n-i)+"*"*(i+1))

******
 *****
  ****
   ***
    **
     *

In [29]:
for i in range(n):
    print(" "*(n-i)+"*"*(i+1))
for i in range(n,-1,-1):
    print(" "*(n-i)+"*"*(i+1))

     *
    **
   ***
  ****
 *****
******
 *****
  ****
   ***
    **
     *

In [31]:
for i in range(n):
    print(" "*(n-i)+"* "*(i+1))
for i in range(n,-1,-1):
    print(" "*(n-i)+"* "*(i+1))

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [33]:
for i in range(n):
    print(" "*(n-i)+"*"*((2*i)+1))

     *
    ***
   *****
  *******
 *********

In [3]:
# M pattern

row = 5
for i in range(row):
    for j in range(5):
        if j == 0 or j == 4:
            print("*", end=" ")
        elif i == j and j < 3:
            print("*", end=" ") 
        elif i+j == 4 and j > 1:
            print("*", end=" ") 
        else:
            print(" ", end=" ")
    print()

*       *
* *   * *
*   *   *
*       *
*       *

In [5]:
# N pattern

row = 5
for i in range(row):
    for j in range(5):
        if j == 0 or j == 4:
            print("*", end=" ")
        elif i == j and j < 4:
            print("*", end=" ") 
        else:
            print(" ", end=" ")
    print()

*       *
* *     *
*   *   *
*     * *
*       *

In [10]:
# 2*i+1
(2*0)+1

1

In [37]:
(2*1)+1

3

In [39]:
(2*2)+1

5

In [2]:
# to reverse a number

num = int(input("Enter a number: "))
rev = 0
while num > 0:
    digit = num % 10
    rev = (rev * 10) + digit
    num = num // 10
print(rev)

Enter a number:  653

356

In [24]:
# to check if a number is Armstrong

num = int(input("Enter a number: "))
digits = len(str(num))
sum = 0
for i in str(num):
    sum += int(i) ** digits
if sum == num:
    print(f"{num} is armstrong number")
else:
    print(f"{num} is not an armstrong number")

Enter a number:  153

153 is armstrong number

In [26]:
# to check if a number is prime

n = int(input("Enter a number: "))
prime = True
if n <= 1:
    prime = False
for i in range (2,n):
    if n%i == 0:
        prime = False
        break
if(prime==True):
    print(f"{n} is a prime number")
else:
    print(f"{n} is not a prime number")

Enter a number:  67

67 is a prime number

In [30]:
# to find the factorial of a number

n = int(input("Enter a number: "))
fact = 1
if(n==0):
    fact = 1
else:
    for i in range(n,1,-1):
        fact = fact*i
print(f"{n}!= ",fact)

Enter a number:  4

4!=  24

In [32]:
# to find the sum of the series 1 + 1/2 + 1/3 + ... + 1/N

N = int(input("Enter the value of N: "))
sum = 0.0
for i in range(1, N + 1):
    sum += 1 / i
print("The sum of the series is:", sum)

Enter the value of N:  3

The sum of the series is: 1.8333333333333333

In [36]:
# Python program to find Fibonacci series

n = int(input("Enter the number of terms in the Fibonacci series: "))
a, b = 0, 1
print("Fibonacci Series:")
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b 
print()

Enter the number of terms in the Fibonacci series:  10

Fibonacci Series:
0 1 1 2 3 5 8 13 21 34

In [38]:
# to find the sum of series 1/1! + 1/2! + 1/3! + ...1/N!

n = int(input("Enter the limit: "))
fact = 1
sum = 0.0
if(n == 0):
    fact = 1
else:
    for i in range(1,n+1):
        fact = fact*i
        sum += 1/fact
print(sum)

Enter the limit:  6

1.7180555555555557

In [40]:
# to print prime numbers within a limit

limit = int(input("Enter the limit: "))
for i in range(2,limit+1):
    for j in range(2,i):
        if i%j == 0:
            break
        else:
            print(i)

Enter the limit:  7

3
5
5
5
7
7
7
7
7

In [46]:
# to print Armstrong numbers within a limit

l = int(input("Enter a limit: "))
for i in range(1, l + 1):
    sum = 0
    num_of_digits = len(str(i))
    for digit in str(i):
        sum += int(digit) ** num_of_digits
    if sum == i:
        print(i)

Enter a limit:  20

1
2
3
4
5
6
7
8
9

In [5]:
for number in range(10, 0, -1):
    print(number)

10
9
8
7
6
5
4
3
2
1

In [6]:
string = "python !$ @ programming !anguage"
result = ""
for char in string:
    if char.isalnum() or char == " ":
        result += char
    else:
        result += "#"
print(result)

python ## # programming #anguage