In [24]:
# Arithmetic Operators

print(23+4)  # addition
print(25-6)  # subtraction
print(25*2)  # multiplication
print(100/4)  # division
print(25%2)  # modulus
print(2**3)  # exponentiation
print(25//2)  # floor division

27
19
50
25.0
1
8
12

In [52]:
# Assignment Operators

x=5 # equal to
print(x)

x+=3  # x=x+3, 5+3=8
print(x)

x-=3  # x=x-3, 8-3=5
print(x)

x*=3  # x=x*3, 8*3=24
print(x)

x/=5  # x=x/2, 8/2=4
print(x)

x=6
x%=4   # x=x%4, 6%4
print(x)

x=2
x**=2  # x=x^2, 2^2=4
print(x)

x=7
x//=3  # x=x//3, 7//3=2
print(x)

5
8
5
15
3.0
2
4
2

In [26]:
# Comparison Operators

x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

In [28]:
# Logical Operators

x=5
y=2

print(x<4 and y<1)
print(x<6 or y<1)
print(not(x<6 or y<1))

False
True
False

In [40]:
# Membership Operators

x=2
y=[7,2,4,8]

print(x in y)
print(4 in y)
print(5 not in y)

True
True
True

In [58]:
# Identity  Operators

a=[101]
b=[101]
c=b

print(a is not b)
print(b is c)
print (id(a))
print (id(b))

True
True
5219361216
5219353472

In [44]:
r = int(input("enter the radius: "))
print ("area of circle: ",3.14*r*r)

enter the radius:  4

area of circle:  50.24

In [48]:
name = input("Enter the name:")
age = input("Enter the age:")
print (f"My name is {name} and I am {age} years old.")

Enter the name: Safna
Enter the age: 25

My name is Safna and I am 25 years old.

In [88]:
x = 27
y = 5
x%y

2

In [86]:
x = 9
y = 2
x**y

81

In [92]:
x = 15
y = 4
print (x/y)
print (x//y)

3.75
3

In [96]:
x = 10
y = 20
x>y

False

In [98]:
n = 14
if n%2==0:
    print ("Even")
else:
    print ("False")

Even

In [126]:
a = "hello"
b = "world"

if (a<b)==True:
    print ("World is greater")
else:
    print ("Hello is greater")

World is greater

In [128]:
n = 15
n>10 and n<20

True

In [130]:
n = 17
n>0 or n%2==0

True

In [132]:
a = True
print (not a)

False

In [136]:
a = 100
a+=50
a

150

In [138]:
score = 75
score-=10
score

65

In [140]:
x = 5
x*=3
x

15