In [5]:
T = (1,2,3,4,5)
T

(1, 2, 3, 4, 5)

In [13]:
# Accessing an element

T = (10,20,30,40,50,60,70)
print (T)
print (T[0])
print (T[-1])
print (T[3])
print (T[-2])
print (T[1])

(10, 20, 30, 40, 50, 60, 70)
10
70
40
60
20

In [15]:
# Slicing

T = (10,20,30,40,50,60,70)
print (T[:4])
print (T[4:])
print (T[2:5])
print (T)

(10, 20, 30, 40)
(50, 60, 70)
(30, 40, 50)
(10, 20, 30, 40, 50, 60, 70)

In [18]:
# Accessing nested tuple

t = ("MOUSE",[8,4,6],(1,2,3))
print (t)
print (t[0][3])
print (t[2][0])
print (t[1][1])

('MOUSE', [8, 4, 6], (1, 2, 3))
S
1
4

In [20]:
t[1][1] = 6
t

('MOUSE', [8, 6, 6], (1, 2, 3))

In [24]:
tu = (4,2,3,[6,5])
tu[3][0] = 9
print (tu)

(4, 2, 3, [9, 5])

In [26]:
# Concatenation

t1 = (1,3,5,7,9)
t2 = (2,4,6,8,10)

print (t1+t2)
print (t1+(12,14,16))
print ((2,4,8)+(3,9))

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)
(1, 3, 5, 7, 9, 12, 14, 16)
(2, 4, 8, 3, 9)

In [28]:
# *Operation

print (t1)
print (t1*3)

(1, 3, 5, 7, 9)
(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [30]:
print (t2.index(6))

2

In [32]:
t1.index(7)

3

In [34]:
# Changing tuple to list

x = ("apple", "banana", "cherry")
print (x)
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print (x)

('apple', 'banana', 'cherry')
('apple', 'kiwi', 'cherry')

In [38]:
# Length

thistuple = ("apple", "banana", "cherry")
print (len(thistuple))

3

In [41]:
T = ("ab", "cd", "ef", "gh")
T

('ab', 'cd', 'ef', 'gh')

In [45]:
T = (1, "a", "apple", 2, 3)
T

(1, 'a', 'apple', 2, 3)

In [47]:
T = (1,2,3,4,5,6,7)
T[3]

4

In [55]:
# Unpack a tuple in variables

a = 4, 8, 3 
print (a)
n1,n2,n3 = a
print (n1+n2+n3)

(4, 8, 3)
15

In [58]:
a = 4, 8, 3 
print (str(a))

(4, 8, 3)

In [60]:
x = [1,2,3,4]
y = tuple(x)
y

(1, 2, 3, 4)

In [62]:
def rev(tuples):
    tup = tuples[::-1]
    return tup
     
tuples = ('z','a','d','f','g','e','e','k')
print (rev(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

In [69]:
a = (1, 2, 3)
b = 4 
c = a + (b,)
print (c)

(1, 2, 3, 4)

In [78]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple1, tuple2 = tuple2, tuple1
print (tuple1)
print (tuple2)

(4, 5, 6)
(1, 2, 3)

In [80]:
t1 = (10,20,30,40,50,60,70,80,90,100)
t2 = t1[2:8]
print (t2)

(30, 40, 50, 60, 70, 80)