In [273]:
print("Hello Python")

Hello Python

In [277]:
# Creating a function

def my_funct():
    print("Hello Python")
my_funct()                                          # function call

Hello Python

In [279]:
# Sum of two number

def sum():
    a = int(input("1st no:"))
    b = int(input("2nd no:"))
    print("sum =",a+b)
sum()

1st no: 4
2nd no: 7

sum = 11

In [281]:
def sum():
    print("5 + 7 =",5+7)
sum()

5 + 7 = 12

In [68]:
def add():
    a = 20
    b = 40
    c = a+b
    print("Sum of", a,"and",b,": ",c)
add()

Sum of 20 and 40 :  60

In [70]:
# Arguments

def add(a,b):
    print("a + b =",a+b)
add(20,8)

a + b = 28

In [72]:
add(2,4)

a + b = 6

In [74]:
def name(fname):                                    # one argument passing
    print("Hi ",fname)                              # message common to the arguments passed
name("Jasmin")                                      # one argument one or more function call
name("Razal")

Hi  Jasmin
Hi  Razal

In [76]:
def funct(fruits):
    print(fruits)
funct("Apple")
funct("Cherry")

Apple
Cherry

In [78]:
# Number of arguments passed

def name(fname,lname):                         # 2 arguments are passed in the function
    print(fname," ",lname)
name("Aiza","Hezlin")

def greet(name,msg):
    print("Hello",name,msg)
greet("Jasmin","Good Morning")

Aiza   Hezlin
Hello Jasmin Good Morning

In [80]:
# Arbitary Arguments or *args

def gree(*names):                             # number of arguments are passed
    for x in names:
        print("Hello "+x)
gree("Aiza","Hezlin","Nadeem")

Hello Aiza
Hello Hezlin
Hello Nadeem

In [82]:
def july22(*friends):
    print("hi",friends[2])
    
july22("fazal","anvar","sandra","gopika")

hi sandra

In [84]:
def funct(*kids):
    print("The youngest child is",kids[2])         # accessing using index position to get particular o/p
funct("Emily","Thobias","Linus")

The youngest child is Linus

In [92]:
def sum_of_numbers(*numbers):
    sum = 0
    for i in numbers:
        sum += i
    print(sum)
sum_of_numbers(1,2,3,4,5,6)

21

In [90]:
def add(*numbers):
    sum = 0
    for i in numbers:
        sum += i
    print(sum)
add(1,3,5)

9

In [94]:
# OR

def funct(*kids):
    print("Hi "+kids[0])
kids = ("Emily","Thobias","Linus")
funct(*kids)

Hi Emily

In [96]:
# Keyword Arguments

def toddler(child3,child2,child1):
    print("The youngest child is ",child3)                  # since child3 is called its os highlighted
toddler(child1="Emil",child3="Tobias",child2="Linus")       # key=value arguments in function call

def team(name,project):
    print(name,"is working on",project)
team(project="Data Analyst",name="Jasmin")

The youngest child is  Tobias
Jasmin is working on Data Analyst

In [100]:
# ** Arguments...Arbitrary keyword arg

def names(**kid):
    print("my name is",kid["kid1"],"my friends are",kid["kid2"],"and",kid["kid3"]) # accessing using key
names(kid3="Tobias",kid2="Emil",kid1="anvar")

my name is anvar my friends are Emil and Tobias

In [102]:
def id(**detail):
    for i in detail.items():                  # to access and print all the items in the function call
        print(i)                              # prints in tuple form
id(name="Hezlin",age=3,place="Vadakara",phone=23535)

('name', 'Hezlin')
('age', 3)
('place', 'Vadakara')
('phone', 23535)

In [104]:
# Default Parameter Value

def place(country="Norway"):
    print("I am from",country)
place()
place("Sweden")

I am from Norway
I am from Sweden

In [106]:
def greet(name="Jasmin",msg="good Morning"):
    print("Hello",name,",",msg)
greet()                                             # default value of both parameter
greet("Aiza","Good to see you")
greet("Hezlin")                                     # prints the default value of the absent parameter

Hello Jasmin , good Morning
Hello Aiza , Good to see you
Hello Hezlin , good Morning

In [142]:
fruits = ["Apple","Banana","Cherry"]
food = fruits
for i in food:
    print(i)

Apple
Banana
Cherry

In [144]:
# Passing list as agrument

def items(food):
    for i in food:
        print(i)
fruits = ["Apple","Banana","Cherry"]  
items(fruits)

Apple
Banana
Cherry

In [146]:
# Return value

def product(x):
    return 5*x
product(3)

15

In [150]:
def product1(x):
    print(5*x)
n = int(input("enter the number:") )   
product1(n)

enter the number: 4

20

In [152]:
def factorial(x):
    if x == 1 or x == 0:
        return 1
    else:
        fact = 1
        while(x>1):
            fact *= x
            x -= 1
        return fact
factorial(5)

120

In [154]:
a = int(input('enter the number:'))
b = 1
for i in range(1,a+1):
    b = b*i
print(b)

enter the number: 4

24

In [284]:
# Recursion- Function calls itself

def factorial(x):
    if  x == 0:
        return 1
    else:
        return(x*factorial(x-1))
n = int(input("enter the number"))   
print(factorial(n))

enter the number 6

720

In [162]:
num = int(input("enter the number:"))
if num == 0:
    print(1)
else:
    mul = 1
    for i in range(1,num+1):
        mul *= i
    print(mul)

enter the number: 2

2

In [164]:
def factorial(num):
    if num == 0:
        return 1
    else:
        mul = 1
        for i in range(1,num+1):
            mul *= i
        return mul
num = int(input("enter the number:"))
factorial(num)

enter the number: 5

120

In [166]:
def factorial(num):
    if num == 0:
        print(1)
    else:
        mul = 1
        for i in range(1,num+1):
            mul *= i
        print(mul)
num = int(input("enter the number:"))
factorial(num)

enter the number: 6

720

In [168]:
# Function Recursion

def factorial(x):
    if x == 0:
        return 1
    else:
        return x*factorial(x-1)
num = int(input("enter the number:"))
print("the factorial of ",num,"is",factorial(num))

enter the number: 2

the factorial of  2 is 2

In [170]:
def recursion(k):
    if k>0:
        result = k+recursion(k-1)
        print(result)
    else:
        result = 0
    return result
print("\nThe recursion result")
recursion(6)

The recursion result
1
3
6
10
15
21

21

In [132]:
def count(str):
    vowels = "aAeEiIoOuU"
    v = 0
    for i in str:
        if i in vowels:
            v += 1
    return v                     # Return the count after the loop
print("\nCount of vowels:", count("This is Python Programming"))

Count of vowels: 6

In [172]:
# Global variable

a = 15                                        # global variable
b = 10                                        # global variable
def add():
    c = a+b
    print("Sum",c)
add()

a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
def prdt():
    c = a*b
    print("Product:",c)
prdt()

Sum 25

Enter the first number: 7
Enter the second number: 4

Product: 28

In [174]:
# local to global variable

n = 5
def num():
    #global a
    a = 16
    print(a)
num()

16

In [176]:
# Anonymous Function
# lambda argument:expression

double = lambda x:x*2
double(6)

12

In [178]:
add = lambda a:a+6
print("Sum:",add(7))

Sum: 13

In [180]:
# filter lambda function

my_list = [2,6,41,12,39,8]                                    # arguments as list

new_list = list(filter(lambda x:(x%2==0),my_list))            # converts into new list with filter
print(new_list)

age = [14,23,18,10,37]
new = list(filter(lambda a:(a>=18),age))
print(new)

# map lambda function
mlist = [1,3,5,7,9]
nlist = list(map(lambda x:x*2,mlist))
print(nlist)

animals = ["cat","dog","rabbit","bear"]
n_animals = list(map(lambda a:a.upper(),animals))
print(n_animals)

# reduce lambda function
# method1
from functools import reduce
l = [5,8,10,20,50,100]
nl = reduce(lambda x,y:x+y,l)
print(nl)


import functools
L = [1,3,5,6,2]

# print("Largest:",end=" ")
print("Largest:",functools.reduce(lambda a,b:a if a>b else b,L))

[2, 6, 12, 8]
[23, 18, 37]
[2, 6, 10, 14, 18]
['CAT', 'DOG', 'RABBIT', 'BEAR']
193
Largest: 6

In [182]:
l = [12,34,56,6]
sum = 0
for i in l:
    sum += i
print(sum)

108

In [184]:
def add():
    global a
    global b
    a = 3                  #local variable
    b = 5
    c = a+b
    print(c)
add()

8

In [186]:
b+8

13

In [188]:
c = 3 #global variable
d = 5
def add():
    print(c+d)
add()

8

In [190]:
# Python function to find the maximum of three numbers without using inbuild fuction

def max_num(a,b,c):
    if a>b and a>c:
        print(a,"greater")
    elif b>a and b>c:
        print(b,"is greater")
    else:
        print(c,"is greater")
n1 = int(input("enter the 1st number:")) 
n2 = int(input("enter the 2nd number:")) 
n3 = int(input("enter the 3rd number:")) 
max_num(n1,n2,n3)

enter the 1st number: 5
enter the 2nd number: 7
enter the 3rd number: 4

7 is greater

In [192]:
# Python function to multiply all the numbers in a list

def mult(li):
    mul = 1
    for i in li:
        mul *= i
    print(mul)
l = [1,2,3,4,5]
mult(l)

120

In [194]:
# Python program to reverse a string

def reverse(st):
    reverse = s[::-1]
    print(reverse)
s = input("enter the string:")    
reverse(s)

enter the string: cat

tac

In [200]:
# Python function that takes a list and returns a new list with distinct elements from the first list

def dist(li):
    li = set(li)
    print(list(li))
dist([1,2,3,4,4])

[1, 2, 3, 4]

In [202]:
def add():
    print("mech")
    return("sahal")
   
z = add()    
print(add())

mech
mech
sahal

In [3]:
def add(x,y):
    print(x+y)
add(8,5)

13

In [210]:
def add(x,y):
    return(x+y)
z = add(8,5)
print(z)

13

In [212]:
def name():
    print("sree")
    return("misbah")
    print("sreeram")
name()

sree

'misbah'

In [216]:
def add(x,y):
    t = x+y
    return t
m = add(6,7)    
m

13

In [218]:
def add(a,b):
    print(a+b)
add(1,7)
add(5,6)

8
11

In [220]:
a = 1
b = 7
print(a+b)

8

In [222]:
type(a)

int

In [224]:
add(4,6)

10

In [226]:
st = "9"
st = int(st)

In [20]:
type(st)

int

In [228]:
def su(n):
    sum = 0
    for i in range(1,(n+1)):
        sum += i
    print(sum)    
# n1=int(input("enter the number"))    
su(5)

15

In [230]:
n = int(input("enter the number")) 
sum = 0
for i in range(1,(n+1)):
    sum += i
print(sum)

enter the number 6

21

In [232]:
def pr(l):
    mul = 1
    for i in l:
        mul += i
    print(mul)    
pr([1,2,3])

7

In [234]:
# function that takes a name as input and prints "Hello, !"

def greet(name):
    print("Hello,",name,"!")
Name=input("enter the name:")   
greet(Name)

enter the name: safna

Hello, safna !

In [236]:
# function that takes a number as input and returns its square

def square(number):
    print(number ** 2)   
Num = int(input("enter the name:") )    
square(Num)

enter the name: 5

25

In [238]:
# function that takes a list of numbers as input and returns their average

def average(numbers):
    for i in numbers:
        sum = 0
        sum += i
    print(sum / len(numbers))
number_list = [1,2,3,5]
average(number_list)

1.25

In [242]:
# function that takes a string as input and returns its length

def string_length(text):
    print(len(text))
st = input("enter the string")    
string_length(st)

enter the string ashish

6

In [244]:
def average(*numbers):
    if not numbers:
        print(0)
    else:
        total = 0
        count = 0
        for num in numbers:
            total += num
            count += 1
        print(total / count)
average(1,3,6,8)

4.5

In [246]:
def average(*numbers):
    if not numbers:
        print("there is no numbers")
    else:
        sum = 0
        count = 0
        for i in numbers:
            sum += i
            count += 1
        print("average:",sum / count)
average()

there is no numbers

In [254]:
def average(numbers):
    sum = 0
    count = 0
    for i in numbers:
        sum += i
        count += 1
    print("average:",sum / count)
numbers_list=[1,2,3,4,5,6]
average(numbers_list)

average: 3.5

In [256]:
# local variable

def num():
    global x,y
    x = 1
    y = 3
    print(x+y)
num()

4

In [258]:
#global variable

x1 = 2   
y1 = 3
def s():
    print(x1+y1)
s()    
x1
y1

5

3

In [260]:
x1

2

In [262]:
def st():
    print("navya")
    return "rameez"
    print("sandra")
st()

navya

'rameez'

In [264]:
def add():
    t = 1
    p = 2
    return t+p
add()

3

In [266]:
m

13

In [268]:
mlist = [1,3,5,7,9]
nlist = list(map(lambda x:x**2,mlist))
print(nlist)

[1, 9, 25, 49, 81]

In [270]:
def sum(*n):
    total = 0
    for i in n:
        total = total + i
    print (f" Sum is {total}")
sum(1,2,3,4,5)

 Sum is 15

In [2]:
# Program to calculate area of circle using function

def circle_area(radius):
    pi = 3.14  
    return pi * radius ** 2
radius = float(input("Enter the radius of the circle: "))
area = circle_area(radius)
print(f"The area of the circle with radius {radius} is {area:.2f}")

Enter the radius of the circle:  3

The area of the circle with radius 3.0 is 28.26

In [4]:
# Program to calculate volume of cube using function

def cube_volume(side_length):
    return side_length ** 3
side_length = float(input("Enter the side length of the cube: "))
volume = cube_volume(side_length)
print(f"The volume of the cube with side length {side_length} is {volume:.2f}")

Enter the side length of the cube:  5

The volume of the cube with side length 5.0 is 125.00

In [6]:
# Function to calculate addition and subtraction

def calculation(a, b):
    addition = a + b
    subtraction = a - b
    return addition, subtraction
n1 = float(input("Enter the first number: "))
n2 = float(input("Enter the second number: "))
add, sub = calculation(n1, n2)
print(f"Addition: {add}")
print(f"Subtraction: {sub}")

Enter the first number:  3
Enter the second number:  6

Addition: 9.0
Subtraction: -3.0

In [10]:
# Function to find numbers divisible by a given divisor

def div(n, d):
    return list(filter(lambda x: x % d == 0, n))
n = [10, 25, 33, 40, 55, 60, 75]
d = int(input("Enter a number to divide by: "))
div_num = div(n, d)
print(f"Numbers divisible by {d}: {div_num}")

Enter a number to divide by:  5

Numbers divisible by 5: [10, 25, 40, 55, 60, 75]

In [12]:
# Program to print the squares of numbers in a given list

numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x ** 2, numbers))
print("Squares of the numbers:", squares)

Squares of the numbers: [1, 4, 9, 16, 25]

In [18]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares_of_even = list(map(lambda x: x ** 2, filter(lambda x: x % 2 == 0, num)))
print("Squares of even numbers:", squares)

Squares of even numbers: [1, 4, 9, 16, 25]

In [20]:
# Recursive function to calculate factorial of a number

def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact(n - 1)
num = int(input("Enter a number to find its factorial: "))
print(f"Factorial of {num} is {fact(num)}")

Enter a number to find its factorial:  7

Factorial of 7 is 5040

In [22]:
# Recursive function to calculate sum of n natural numbers

def sum(n):
    if n == 1:
        return 1
    else:
        return n + sum(n - 1)
n = int(input("Enter a number to find the sum of first n natural numbers: "))
print(f"Sum of first {n} natural numbers is {sum(n)}")

Enter a number to find the sum of first n natural numbers:  5

Sum of first 5 natural numbers is 15

In [24]:
# Recursive function to calculate Fibonacci sequence

def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)
terms = int(input("Enter the number of terms for the Fibonacci series: "))
print("Fibonacci series:")
for i in range(terms):
    print(fibonacci(i), end=" ")

Enter the number of terms for the Fibonacci series:  4

Fibonacci series:
0 1 1 2

In [4]:
def average(num):
    return sum(num) / len(num)

l = [10, 20, 30, 40, 50]
avg = average(l)
print("The average is", avg)

The average is 30.0

In [2]:
n=int(input("enter the no:"))
for i in range(1,(n+1)):
    print(i)

enter the no: 10

1
2
3
4
5
6
7
8
9
10

In [4]:
n=int(input("enter the no:"))
i=1
while i<(n+1):
    print(i)
    i+=1

enter the no: 10

1
2
3
4
5
6
7
8
9
10

In [6]:
n=int(input("enter the number:"))
f=1
for i in range(1,(n+1)):
    f*=i
print("factorial:",f)

enter the number: 3

factorial: 6

In [8]:
x=int(input("enter the number:"))
f=1
i=1
while x>=i:
    f*=i
    i+=1
print("factorial:",f)

enter the number: 3

factorial: 6