In [58]:
firstname = input("Enter your first name: ")
lastname = input("Enter your last name: ")
course = input("Enter your course: ")
print("Welcome "+firstname+" "+lastname+"! You are enrolled to "+course)
print (f"Welcome {firstname} {lastname}! You are enrolled to {course}")

Enter your first name:  Safna
Enter your last name:  Muhammed Farook
Enter your course:  Machine Learning

Welcome Safna Muhammed Farook! You are enrolled to Machine Learning
Welcome Safna Muhammed Farook! You are enrolled to Machine Learning

In [61]:
a=10
b=20
a,b=b,a
print(a)
print(b)

20
10

In [64]:
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
z = x+y
print(f"The sum of {x} and {y} is {z}")

Enter first number:  2
Enter second number:  3

The sum of 2 and 3 is 5

In [1]:
l = [10,20,30,40]
len(l)

4

In [50]:
from functools import reduce
l = [1,2,3,4,5,6]
new_l = reduce(lambda x,y : x+y, l)
print (new_l)

21

In [11]:
a = int(input("Enter value of a: "))
b = int(input("Enter value of b: "))
a,b = b,a
print (f"Value of a is {a}")
print (f"Value of b is {b}")

Enter value of a:  2
Enter value of b:  4

Value of a is 4
Value of b is 2

In [15]:
l = [12,35,9,56,24]
l[0],l[-1]=l[-1],l[0]
l

[24, 35, 9, 56, 12]

In [47]:
li = [23,65,19,90]
li[0] = 1
li[1] = 3
li

[1, 3, 19, 90]

In [52]:
a = [10,20,30,40,50]
sum(a)

150

In [70]:
a = [1,2,3,4,5]
b = ['a','b','c','d','e']
c = list(zip(a,b))
print (c)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [72]:
a = {1,'safna',2.5}
if len(a) == 0:
    print ("Empty set")
else:
    print ("Not empty set")

Not empty set

In [78]:
a = 2 
b = 5
max(a,b)

5

In [3]:
radius = int(input("Enter radius of circle:"))
area = 3.14*(radius**2)
print (area)

Enter radius of circle: 3

28.26

In [7]:
name = input("Enter name of student:")
rollno = int(input("Enter roll number of student:"))
mark = int(input("Enter mark of student"))
print (f"Name: {name}, Roll no: {rollno}, Mark: {mark}")

Enter name of student: Anisha
Enter roll number of student: 21
Enter mark of student 78

Name: Anisha, Roll no: 21, Mark: 78

In [11]:
l = [12,3,47,10]
print(max(l))

47

In [14]:
s = input("Enter a string value: ")
char_count = {}
for char in s:
    char_count[char] = char_count.get(char, 0) + 1
for char, count in char_count.items():
    print(f"{char}={count}", end=", ")

Enter a string value:  safna

s=1, a=2, f=1, n=1,

In [17]:
t = (11, 22, 33, 44, 55, 66)
tup = t[3:5]
print(f" new tuple = {tup}")

 new tuple = (44, 55)

In [24]:
def fact(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
n = int(input("Enter an integer: "))
print(fact(n))

Enter an integer:  4

24

In [27]:
n = [10, 20, 33, 46, 55]
div = [num for num in n if num % 5 == 0]
print(div)

[10, 20, 55]

In [30]:
number = int(input("Enter a number: "))
if number < 2:
    print(f"{number} is not a prime number.")
else:
    prime = True
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            prime = False
            break
    if prime:
        print(f"{number} is a prime number.")
    else:
        print(f"{number} is not a prime number.")

Enter a number:  5

5 is a prime number.

In [41]:
n = [10, 40, 30, 70]
rev = []
for i in range(len(n) - 1, -1, -1):
    rev.append(n[i])
print(rev)

[70, 30, 40, 10]

In [45]:
num = [2, 1, 3, 1]
sq = sum(n ** 2 for n in num)
print(sq)

15

In [49]:
class circle:
    def __init__(self, radius):
        self.radius = radius
    def area(self):
        return 3.14 * self.radius ** 2
    def perimeter(self):
        return 2 * 3.14 * self.radius
radius = float(input("Enter the radius of the circle: "))
circle = circle(radius)    
print("Area of the circle:",circle.area())
print("Perimeter of the circle:",circle.perimeter())

Enter the radius of the circle:  7

Area of the circle: 153.86
Perimeter of the circle: 43.96

In [52]:
a = int(input("Enter the starting number: "))
b = int(input("Enter the ending number: "))
print("Even numbers between", a, "and", b, ":")
for n in range(a, b+1):
    if n % 2 == 0:
        print(n)

Enter the starting number:  2
Enter the ending number:  18

Even numbers between 2 and 18 :
2
4
6
8
10
12
14
16
18